@font-face {
  font-family: 'lato';
  src: url('../fonts/lato/LatoLatin-Hairline.woff2') format('woff2'),
       url('../fonts/lato/LatoLatin-Hairline.woff') format('woff');
  font-weight: 50;
  font-style: normal;
}
@font-face {
  font-family: 'lato';
  src: url('../fonts/lato/LatoLatin-HairlineItalic.woff2') format('woff2'),
       url('../fonts/lato/LatoLatin-HairlineItalic.woff') format('woff');
  font-weight: 50;
  font-style: italic;
}
@font-face {
  font-family: 'lato';
  src: url('../fonts/lato/LatoLatin-Thin.woff2') format('woff2'),
       url('../fonts/lato/LatoLatin-Thin.woff') format('woff');
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: 'lato';
  src: url('../fonts/lato/LatoLatin-ThinItalic.woff2') format('woff2'),
       url('../fonts/lato/LatoLatin-ThinItalic.woff') format('woff');
  font-weight: 100;
  font-style: italic;
}
@font-face {
  font-family: 'lato';
  src: url('../fonts/lato/LatoLatin-Light.woff2') format('woff2'),
       url('../fonts/lato/LatoLatin-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'lato';
  src: url('../fonts/lato/LatoLatin-LightItalic.woff2') format('woff2'),
       url('../fonts/lato/LatoLatin-LightItalic.woff') format('woff');
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: 'lato';
  src: url('../fonts/lato/LatoLatin-Regular.woff2') format('woff2'),
       url('../fonts/lato/LatoLatin-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'lato';
  src: url('../fonts/lato/LatoLatin-Medium.woff2') format('woff2'),
       url('../fonts/lato/LatoLatin-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'lato';
  src: url('../fonts/lato/LatoLatin-MediumItalic.woff2') format('woff2'),
       url('../fonts/lato/LatoLatin-MediumItalic.woff') format('woff');
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: 'lato';
  src: url('../fonts/lato/LatoLatin-Semibold.woff2') format('woff2'),
       url('../fonts/lato/LatoLatin-Semibold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'lato';
  src: url('../fonts/lato/LatoLatin-SemiboldItalic.woff.woff2') format('woff2'),
       url('../fonts/lato/LatoLatin-SemiboldItalic.woff.woff') format('woff');
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: 'lato';
  src: url('../fonts/lato/LatoLatin-Bold.woff2') format('woff2'),
       url('../fonts/lato/LatoLatin-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'lato';
  src: url('../fonts/lato/LatoLatin-BoldItalic.woff2') format('woff2'),
       url('../fonts/lato/LatoLatin-BoldItalic.woff') format('woff');
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: 'lato';
  src: url('../fonts/lato/LatoLatin-Heavy.woff2') format('woff2'),
       url('../fonts/lato/LatoLatin-Heavy.woff') format('woff');
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: 'lato';
  src: url('../fonts/lato/LatoLatin-HeavyItalic.woff2') format('woff2'),
       url('../fonts/lato/LatoLatin-HeavyItalic.woff') format('woff');
  font-weight: 800;
  font-style: italic;
}
@font-face {
  font-family: 'lato';
  src: url('../fonts/lato/LatoLatin-Black.woff2') format('woff2'),
       url('../fonts/lato/LatoLatin-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'lato';
  src: url('../fonts/lato/LatoLatin-BlackItalic.woff2') format('woff2'),
       url('../fonts/lato/LatoLatin-BlackItalic.woff') format('woff');
  font-weight: 900;
  font-style: italic;
}