footer.footer
  div.footer-top
    div.container.footer-top__wrap
      ul.footer-top__list
        li
          a(href="#") About Us
        li
          a(href="#") Vehicle Accidents
        li
          a(href="#") FAQ
        li
          a(href="#") Testimonials
        li
          a(href="#") Blog
        li
          a(href="#") Contact Us
        li
          a(href="#") Our 3 Guarantees
        li
          a(href="#") Case Results
      div.footer-top__social
        a(href="#")
          i.fa.fa-facebook(aria-hidden="true")
        a(href="#")
          i.fa.fa-twitter(aria-hidden="true")
        a(href="#")
          i.fa.fa-google-plus(aria-hidden="true")
        a(href="#")
          i.fa.fa-linkedin(aria-hidden="true")
        a(href="#")
          i.fa.fa-google-plus(aria-hidden="true")
        a(href="#")
          i.fa.fa-linkedin(aria-hidden="true")
      a.btn(href="#") Schedule Free Consultation

  div.footer-center
    div.container.footer-center__wrap
      div.footer-center__cell
        a.footer-center__logo(href="#")
          img(src="img/logo.svg")
        div.footer-center__contact
          div.footer-center__title Contact Us
          a.footer-center__contact-link(href="tel:+17607425221") (760) 742-5221
      div.footer-center__cell
        div.footer-center__contact
          div.footer-center__title Office Location
          p.
            5927 Balfour Court Suite 201<br>
            Carlsbad, CA 92008
          a(href="") Get Direction
        div.footer-center__contact
          div.footer-center__title Oceanside Address
          p.
            2003 S El Camino Real #120,<br>
            Oceanside, CA 92054
          a(href="") Get Direction
      div.footer-center__cell
        div.footer-center__contact
          div.footer-center__title Office Location
          ul
            li
              a(href="#") San Diego
            li
              a(href="#") Carlsbad
            li
              a(href="#") Oceanside
            li
              a(href="#") San Marcos
            li
              a(href="#") Escondido
            li
              a(href="#") Encinitas
            li
              a(href="#") Vista
            li
              a(href="#") Fallbrook

  div.footer-bottom
    div.container.footer-bottom__wrap
      div.footer-bottom__copy © 2018 Carlsbad Auto Accident Attorney. All Rights Reserved
      div.footer-bottom__comrade Design by 
        a(href="https://comradeweb.com") Comrade Web Agency

div#popup--01.text-popup-wrap.mfp-hide
  div.text-popup-wrap__body.
     Lorem ipsum dolor sit amet, consectetur adipisicing elit. At incidunt minus, possimus eos cum sed quos libero asperiores neque tempora unde repellat temporibus maxime tempore nihil fugiat. Nam nulla nobis hic aliquam! Expedita voluptatibus quae rem quam, voluptate neque veritatis qui architecto numquam, eos repellendus officia voluptates id, accusantium officiis! Quis, rerum. Aliquid laboriosam, exercitationem cumque amet expedita, culpa, ex recusandae mollitia possimus suscipit deleniti quibusdam et dolore facere assumenda dolores accusantium eligendi saepe quam excepturi in accusamus. Inventore architecto vero error, velit quia perspiciatis repudiandae id molestiae! Fugit doloremque deleniti officia porro ab ad facere pariatur id velit. Saepe architecto est, obcaecati dolore, culpa commodi aspernatur eaque deserunt velit officiis fugit, autem sapiente minus illo explicabo?