div.header__side
  div.header-edge__wrap
    div.header-edge Over<br><span>40</span><br>Combined<br>Years of<br>Experience
    div.header-edge Nearly<br><span>$50M</span><br>Recovered
    div.header-edge Over<br><span>3500</span><br>Californians<br>Represented