div.home-testimonials__videos(class = page === "Testimonials" ? "home-testimonials__videos--grey" : "")
  div.container.container--1250.home-testimonials__videos-wrap.owl-carousel
    div.video-block
      div.video-block__title.
        Valuable tips from a former insurance lawyer -
        Winning your auto accident case
      a.video-block__link(href="#" style="background-image: url('img/video-block--01.png');")
        i.icon-video
    div.video-block
      div.video-block__title.
        Valuable tips from a former insurance lawyer -
        Winning your auto accident case
      //- a.video-block__link(href="#" style="background-image: url('img/video-block--01.png');")
      //-   i.icon-video
      div.video-block__text
        div.
          “Thanks Gordon, I will praise your lawyer skills from the top of the mountains!”
          Mr. Levinson was able to get me not only the highest amount possible from an insurance company but was also able to get my medical bills lowered, giving ME the most paid out. Thanks Gordon, I will praise your lawyer skills from the top of the mountains!
        a.video-block__read.text-popup(href="#popup--01") read more
    div.video-block
      div.video-block__title.
        Valuable tips from a former insurance lawyer -
        Winning your auto accident case
      //- a.video-block__link(href="#" style="background-image: url('img/video-block--01.png');")
      //-   i.icon-video
      div.video-block__text
        div.
          “Thanks Gordon, I will praise your lawyer skills from the top of the mountains!”
          Mr. Levinson was able to get me not only the highest amount possible from an insurance company but was also able to get my medical bills lowered, giving ME the most paid out. Thanks Gordon, I will praise your lawyer skills from the top of the mountains!
        a.video-block__read.text-popup(href="#popup--01") read more

