div.container.container--1250.home-testimonials__wrap.owl-carousel
  - for(var i = 1; i < 8; i++)
    div.home-testimonials-item
      div.home-testimonials-item__top
        div.home-testimonials-item__row
          img.home-testimonials-item__img(src="img/google-plus.png")
          div.home-testimonials-item__count 5.0
        div.home-testimonials-item__row
          div.home-testimonials-item__rating(data-rating="4")
          a.home-testimonials-item__link(href="#") 20 Client Reviews
      div.home-testimonials-item__body
        p.
          Gordon and his team were so helpful after my accident. Carmela was primarily my contact and she answered all of my questions and would check up on me to see if needed anything. My whole experience with this team was great and they got my medical bills all settled after my accident. I would definitely use them again but hopefully I won't need too.
      div.home-testimonials-item__name <strong>Ali Blanchard | </strong>3 month ago