section.area
  div.container.container--1250
    div.title.area__title Our <strong>Practice Areas</strong>
    div.area__wrap
      - for(var i = 1; i < 3; i++)
        .area-item
          a.area-item__img(href="#")
            img(src="img/area-item--01.jpg")
          a.area-item__title.title.title--small(href="#") Car Accidents
          span.area-item__line
          .area-item__subtitle 40 Years of Experience in Southern California Advocacy
          .area-item__desc.
            Are you suffering from injuries caused by a negligent driver? Is a family member facing a permanent condition due to injuries sustained in a car accident? If so, you need a team of compassionate legal professionals handling your car accident claim. Our Carlsbad auto accident lawyers are experienced, caring, and here to help you…
          a.area-item__link(href="#") Learn More