section.victories(style="background:" + grad + ", url('img/victories-bg.jpg');")
  div.container.title.victories__title Our <strong>Victories</strong>
  div#victories-slider.container.owl-carousel.victories__wrap
    
      div.victories-item
        div.victories-item__title
          i.icon-i-pedestrian
          span $1.25M
        div.victories-item__line
        div.victories-item__desc Auto v. Pedestrian
      div.victories-item
        div.victories-item__title
          i.icon-i-car-1
          span $750K
        div.victories-item__line
        div.victories-item__desc Auto Collision with co-counsel
      div.victories-item
        div.victories-item__title
          i.icon-i-car-2
          span $350K
        div.victories-item__line
        div.victories-item__desc Truck v. Auto Collision
      div.victories-item
        div.victories-item__title
          i.icon-i-pedestrian
          span $1.25M
        div.victories-item__line
        div.victories-item__desc Auto v. Pedestrian
      div.victories-item
        div.victories-item__title
          i.icon-i-car-1
          span $750K
        div.victories-item__line
        div.victories-item__desc Auto Collision with co-counsel
      div.victories-item
        div.victories-item__title
          i.icon-i-car-2
          span $350K
        div.victories-item__line
        div.victories-item__desc Truck v. Auto Collision
      div.victories-item
        div.victories-item__title
          i.icon-i-pedestrian
          span $1.25M
        div.victories-item__line
        div.victories-item__desc Auto v. Pedestrian
      div.victories-item
        div.victories-item__title
          i.icon-i-car-1
          span $750K
        div.victories-item__line
        div.victories-item__desc Auto Collision with co-counsel
      div.victories-item
        div.victories-item__title
          i.icon-i-car-2
          span $350K
        div.victories-item__line
        div.victories-item__desc Truck v. Auto Collision