section.container.container--1250.intro
  div.intro__half
    div.title.intro__title We are North County's<br><strong>Vehicle Crash Experts</strong>
    div.intro__desc.
      Cars, trucks, motorcycles, bicycles, pedestrians. That’s all we do.
    div.intro__logos
      a(href="#")
        img(src="img/intro-logo--01.png")
      a(href="#")
        img(src="img/intro-logo--02.png")
      a(href="#")
        img(src="img/intro-logo--03.png")
    div.intro-book
      img.intro-book__img(src="img/book.png")
      div.intro-book__text.
        We literally wrote the book on car accidents
      a.btn(href="#") Download free book

  div.intro__half
    div.video-block
      div.video-block__title.
        Valuable tips from a former insurance lawyer -
        Winning your auto accident case
      a.video-block__link.video-popup(href="video/small.mp4" style="background-image: url('img/video-block--01.png');")
        i.icon-video
    div.video-block
      div.video-block__title.
        Valuable tips from a former insurance lawyer -
        Winning your auto accident case
      a.video-block__link(href="#" style="background-image: url('img/video-block--02.png');")
        i.icon-video