@mixin owl-dots($border-color, $background-color){
  .owl-dots{
    margin-top: 2em;
    display: flex;
    justify-content: center;
    .owl-dot{
      padding: 0 5px;
      display: flex;
      justify-content: center;
      align-items: center;
      span{
        display: block;
        width: 11px;
        height: 11px;
        border: 1px solid $border-color;
        border-radius: 50%;
      }
      &.active{
        span{
          width: 11px;
          height: 11px;
          background-color: $background-color;
        }
      }
    }
  }
}

@mixin owl-nav(){
  .owl-nav{
    @include max-screen(1199px) {
      display: none;
    }
    .owl-prev, .owl-next{
      position: absolute;
      top: 35%;
      font-size: 2.5em;
      &.disabled{
        opacity: 0.1;
      }
    }
    .owl-prev{
      left: -80px;
    }
    .owl-next{
      right: -80px;
    }
  }
}

@mixin padding(){
  padding-top: 80px;
  padding-bottom: 80px;
  @include max-screen(767px) {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  @include max-screen(575px) {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

@mixin padding-none(){
  padding-top: 0px;
  padding-bottom: 0px;
  @include max-screen(767px) {
    padding-top: 0px;
    padding-bottom: 0px;
  }
  @include max-screen(575px) {
    padding-top: 0px;
    padding-bottom: 0px;
  }
}

@mixin padding-bottom(){
  padding-bottom: 80px;
  @include max-screen(767px) {
    padding-bottom: 50px;
  }
  @include max-screen(575px) {
    padding-bottom: 30px;
  }
}

@mixin padding-top(){
  padding-top: 80px;
  @include max-screen(767px) {
    padding-top: 50px;
  }
  @include max-screen(575px) {
    padding-top: 30px;
  }
}