extends templates/layout.pug
block var
  - var page = 'Accident'
  - var grad = 'linear-gradient(rgba(14,39,80,.8), rgba(14,39,80,.8))'
  - var headerBg = 'background-image: linear-gradient(to bottom, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0.5) 100%), url("img/accident-bg.jpg")'
  - var headerClass = 'header__main--accident'
block content

  section.container.container--1250.content
    h1 Truck Accident Lawyer in Oceanside
    h2 Legal Advocacy From a Carlsbad Attorney with 40 Years’ Experience
    p.
      Large truck accidents oftentimes prove to be much more fatal than normal vehicle collisions due to the large size and weight of these vehicles. Accidents caused by large trucks also cause more serious injuries and damage when compared to car crashes. Depending on who was at fault, a large truck crash may hold the driver, trucking company, truck loading company, or even truck manufacturer responsible for any injuries and damages caused.
    p.
      Commercial vehicle collisions are much more complex than normal vehicle crashes which is why you need a reputable personal injury law firm, such as the Levinson Law Group, to ensure you get the justice you deserve. Our experienced personal injury attorneys can provide you with top legal representation that you can stay focused on recovering from your injuries and getting back to living your normal, pre-accident life.

  include templates/section-contact.pug

  section.container.container--1250.content.content--column
    h2 Large Truck Accident Statistics
    p.
      According to a 2012 study by the United States Department Of Transportation, there were 3,921 people killed and 104,000 people injured in vehicular crashes involving large trucks. An estimated (760) 742-5221,000 large trucks were involved in traffic crashes in the United States alone. As a top Carlsbad personal injury law firm, our team of legal professionals handle large truck accident cases all too often and would like to urge every driver to use caution when driving to help make our roads safer for all of us.
    h2 Large Truck Accident Laws
    p.
      There are currently multiple federal laws and regulations that govern the trucking industry in order to help reduce the amount of large truck crashes. The Federal Motor Carrier Safety Administration (FMCSA) works with federal, state, and local enforcement agencies, the motor carrier industry, and labor and safety interest groups in order to strengthen commercial motor vehicle equipment and operating standards while increasing safety awareness, enforcing strong safety regulations, and improving technology in commercial motor vehicles and safety information systems.

  include templates/section-victories.pug

  section.container.container--1250.content.content--column
    p.
      <strong>The FMCSA implements many activities that help to prevent commercial trucking accidents. Below are a few examples of some of the activities they enforce:</strong>
    p.
      Regulatory compliance and enforcement to improve safety performance and remove high-risk carriers from our roads
    p.
      Enforcing standards for commercial drivers’ licenses
    p.
      Roadside inspections and other commercial motor vehicle safety programs to promote motor vehicle and motor carrier safety
    p.
      If you have been injured in a large truck accident, you may be entitled to a cash settlement for your damages such as medical bills, pain and suffering, lost earnings, property damage and other losses. However, if you are not represented by an experienced personal injury attorney, the insurance companies will try to take advantage of you. You need aggressive legal representation on your side to make it a fair fight.

  include templates/section-team.pug

  include templates/section-testimonials.pug

  include templates/section-categories.pug

  include templates/section-map.pug